<!DOCTYPE HTML>
<html>
    <head>
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Cool site</title>
		<link rel="stylesheet" href="style.css">
	</head>

    <body>
        <h1>Hello, world!</h1>
		
		<div id="item" ></div>


        <script>
            let xhttp = new XMLHttpRequest();    
            xhttp.onload = function() {
                item_objects = JSON.parse(this.responseText);

                let item_text = document.getElementById("item");
				for(let i =0; i < item_objects.length; i++) {
					item_text.innerHTML += "<h2>" + item_objects[i].name  + "</h2>" + "  "  +  "<h2>" + item_objects[i].price +"</h2>";

                    item_text.innerHTML += "<br>"

				}
        

            }
             xhttp.open("GET", "/items/search?name=Test&price=10&price_search_type=lower_than", false);

             xhttp.send();

        </script>

    </body>

</html>
